# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Archive
archive/
# Cache
__pycache__/
# PyCharm settings
.idea/
# Python virtual environment
.venv/
# Environment variables
.env
# Builder
.build_cache/
.build_output/

# Config files for deploy
main.spec
buildozer.spec
setup.iss

# Game saves
.saves/