# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Archive
archive/
# Cache
__pycache__/
# PyCharm settings
.idea/
# Python virtual environment
.venv/
# Environment variables
.env